body {
    background-color: rgb(36, 35, 33);
}

button {
    border-radius: 0;
    font-size: 40px;
    transition: 0.2s;
}
button:hover {
    border-radius: 0;
    font-size: 60px;
    color:aliceblue;
}
button:active {
    color:rgb(46, 107, 67);
    background-color: rgb(36, 35, 33);
}

.calc {
    display: grid;
    padding: 50px;
    width: 600px;
    height: 800px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);

}

.display {
    grid-area: 1 / 1 / span 1 / span 4;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 120px;
    text-align: right;
    align-self: flex-end;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.zero {
    grid-area: 5 / 2 / 6 / 4;
}

[data-action="calculate"] {
    grid-area: 6 / 3 / 7 / 5;
}

[data-action="clear"] {
    grid-area: 6 / 1 / 7 / 3;
}